@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --focus-color: #42a0da;
    --focus-outline: .1875rem solid var(--focus-color);
    --focus-outline-offset: .125rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    @apply text-black font-sans;
}


:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
}
